body{
  margin: 0;
  background-color: #9D7777;
}

*,
*:before,*:after
{
  box-sizing: border-box;
}

#firstHeader{

margin-left: 4vw;

}
#link1
{
  margin-left: 65vw;
}
#link2
{
  margin-left: 76.3vw;
}
#link3
{
  margin-left: 86vw;
}
a {
  background-color: #340909;
  box-shadow: 0 5px 0 #340909;

  color: white;
padding: 1em 1.5em;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2vh;
}
a:hover {
  background-color: #763D3D;
}
a:active {
  box-shadow: none;
  top: 5px;
}


#secondHeader{

margin-left: 5vw;
margin-top: 36vh;
}

.main-window
{
  position: absolute;
  background-color: #763D3D;
  width: 22vw;
  height:75vh;
  margin-left: 2vw;
  border-radius: 2vw;
  margin-top: 7.7vh;

}

.text
{

position: absolute;
margin-top: 1vh;
text-align: center;
}

.button{
text-emphasis-color: black;
margin-top: 1.8vh;
  margin-left: 1vw;
width: 18vw;
height: 4.5vh;
border-radius: 1vh;
background-color: white;
font-size: 18px;


}

#DragonFractal
{
margin-top: 2vh;
}

.chooseFractal{
  position: absolute;
  background-color: #340909;
  height: 15vh;
  width: 20vw;
  border-radius: 3vh;
  margin-top: 52vh;
  margin-left: 1.1vw;

}


.iterationSector
{
  background-color: #340909;
  position: absolute;
margin-top: 10vh;
margin-left: 2vw;
height: 12vh;
width: 18vw;
  border-radius: 2vh;


}
#itnumber
{
  width: 14.2vw;
  height: 2.5vh;
  margin-left: 1.2vw;
}

#iteration
{
  margin-left: 1.7vw;
}
#dragonIterator{

  width: 2vw;
}

.PlaceForFractal
{
position: absolute;

  margin-left: 45vw;
margin-top: 8vh;
  width: 800px;
  height: 970px;
  border-radius: 4vh;
  background-color: white;
}


#imageView
{
position: absolute;
border-left: 20vw;

}

#save
{
  width: 7vw;
  height: 3.5vh;
  border-radius: 1vh;
  margin-top: 68vh;
  margin-left: 3.5vw;
  background-color: #add8e6;
}

#saveKochFr
{
  width: 7vw;
  height: 3.5vh;
  border-radius: 1vh;
  background-color: #add8e6;
}
